<% include partials/header %>

    <div class="text-center container lead">
      <h1 class=""><%= title %></h1>
      <p>Welcome to <%= title %> <%= profile.userName %></p>

      <form class="box text-center" action="/newUser" method="post">
        <h2>New User Form</h2>

        <div class="">
          <label for="email">Email</label>
          <input class="form-control"type="email" name="email" id="email" value="">
        </div>

        <div class="">
          <label for="password">Password</label>
          <input class="form-control" type="password" name="password" id="password" value="">
        </div><br>
        <div class="">
          <button type="submit" class="btn " >Add New User</button>
        </div>
      </form>
    </div>

    <div class="container jumbotron">

      <div class="wrapper">

        <form class="box text-center" action="/data" method="post">
          <h2>Journal Entry Form</h2>

          <div class="">
            <label for="subject">Subject</label>
            <input class="form-control"type="text" name="subject" id="subject" value="">
          </div>

          <div class="">
            <label for="body">Body</label>
            <textarea class="form-control" name="body"id="body" rows="8" cols="60"></textarea>
          </div><br>
          <div class="">
            <button type="submit" class="btn " name="button">Add New Data</button>
          </div>
        </form>
        <div style=""class="box text-center" id="formDisplay">
          <% if(documents.length === 1) { %>
            <p> You have <%= documents.length %> document available.</p>
          <% } else {%>
            <p> You have <%= documents.length %> documents available.</p>
          <% } %>
          <div class="" id="docDisplay">
          <% if(documents.length > 0){ %>

            <% documents.forEach(function(doc){ %>
              <div class="doc" >
                <h2><a href="/data/<%= doc.id %>" ><%= doc.subject %></a></h2>

                  <p style="font-size: 18px;">Published: <%= doc.date %></p>
                  <!-- <p><%= doc.id %></p> -->
                  <form class="ctrl" action="/delete/<%= doc.id %>" method="post">
                    <button class="btn"type="submit" data-toggle="tooltip" title="Are you sure ? This is permanent!">delete</button>
                  </form>
                  <form class="ctrl" action="/update/<%= doc.id %>" method="post">
                    <button class="btn"type="submit">update</button>
                  </form>
              </div>
            <% }); %>

          <% } %>
          </div>
        </div>
      </div>
    </div>

<% include partials/footer %>
